<!DOCTYPE html>
<html>
<head>
<title>BCI - Ciencia Ciudadana</title>

<!-- Bootstrap CSS -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<style>
  #logo{
    }
    body{
     background-color: #ebeff5;
    }
    #total{
     background-color: #4cb4c7;
    }
    #reportes{
     background-color: #ffcc5c;
    }
    #pendientes{
     background-color: #ff6f69;
    }
</style>


</head>
<body>

  {% include 'accounts/navbar.html' %}

  {% block content %}

  {% endblock%}

  <hr>
  © Carlos Salgado 2021

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</html>
